body{
    margin: 0;
    background-color: #222;
}

header{
    padding: 15px 10px;
    box-shadow: 0px -3px 20px -5px ;
}
header li{
    display: inline;
}

header span{
    break-after: avoid;
    font-size: 300%;
    font-weight: 900;
    color: aqua;
}

button {
    float: right;
    padding: 4px 8px;
    border: solid aqua 3px;
    font-size: 150%;
    margin: 5px 10px 0 0;
    background-color: #222; 
    color: aqua;
    font-weight: 800;
}
button:hover{
    background-color: aqua;
    color: #222;
}

#adding{
    background-color: #222;
    padding: 50px;
    position: absolute;
    top: 150px;
    left: 100px;
    box-shadow: 0px 0px 30px 5px #090909;
    display: none;
}
input, textarea{
    background-color: #222;
    color: #ccc;
    border: #ccc 2px solid;
    padding: 10px;
    margin: 0 0 20px 0;
}
.time{
    display: flex;
}
#title{
    width: 300px;
}
#discription{
    width: 600px;
    height: 100px;
    resize: none;
}


#add{
    background-color: aqua;
    padding: 1px 22px;
    border-radius: 20px 20px 20px 20px;
    border: solid aqua 3px;
    float: right;
    position: absolute;
    top: 45%;
    right: 20px;
    text-align: center;
    font-size: 450%;
    font-weight: 600;
    color: #222;
}
#add:hover{
    color: aqua;
    background-color: #222;
}

div.event{
    background-color: purple;
    width: 900px;
    margin: 20px 20px 40px;
    padding: 2px 2px 30px 20px;
}